{% extends "layout.html.twig" %}

{% block body %}
    <h2>Error {{ status_code }} {{ status_text }}</h2>

    <hr>
    <br>
    <br>
    <div class="alert alert-danger">
        <strong>Error 403 ! Go back to safty here : <a class="alert-link" href="{{ path('home') }}">Home</a></strong>
    </div>

{% endblock %}